.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
}

.balance {
    width: 300px;
}

.control {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    column-gap: 60px;
}