.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    padding: 0px 80px;
    height: 100vh;
}

.d-flex {
    justify-content: space-between;
}
.balance {
    width: 120px;
}

.control {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}