.logo {
    background-color: #08f1a4;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .logo:hover {
    background-color: #159ad8;
  }

  .logo h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }